@import "tailwindcss";

@layer base {
    /* Reset form elements */
    button, input, select, textarea {
      appearance: none;
      border: none;
      outline: none;
      background: transparent;
      margin: 0;
      padding: 0;
    }

    button {
      cursor: pointer;
    }
  }
